// colors

$event-color-1: #577F92; // Smalt Blue
$event-color-2: #443453; // Martinique
$event-color-3: #A2B9B2; // Edward
$event-color-4: #f6b067; // Rajah

$text-color: #222222;
$border-color: #EAEAEA;
$bg-color: white;
$link-color: $event-color-3;

// fonts 

$primary-font: 'Source Sans Pro', sans-serif;

//colum number

$columns-number: 5;
$row-height: 50px;